*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
}

nav a {
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: auto;
}

.ip-tracker-section .ip-container {
    position: absolute;
    z-index: 1000;
    text-align: center;
    top: 100px;
    width: 100%;
}

.ip-tracker-section .pattern-bg-img {
    background: url(./assets/pattern-bg-desktop.png) no-repeat;
    width: 100%;
    height: 280px;
}

.ip-tracker-section h1 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.form-group {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}

.form-group .submit-btn {
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: black;
    padding: 8px 12px;
    color: #fff;
}

.inline-input-btn {
    display: flex;
}

.inline-input-btn input {
    min-width: 300px;
    outline: none;
}

.inline-input-btn input {
    border-radius: 0;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px 16px;
}

.validation-result {
    color: white;
}

.error {
    border: 2px solid red !important;
}

.ip-info {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 12px;
    padding: 16px;
    margin-top: 36px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.ip-info>div {
    flex: 1;
}

.ip-info .data-head {
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
}

.ip-info .data-item {
    font-weight: 500;
    font-size: 16px;
}

button.close {
    border: none;
    background: none;
}

.toast-close {
    background-image: url(./assets/close.svg);
}

.f-24 {
    font-size: 24px;
}

.history-link {
    cursor: pointer;
}

.history-modal-body {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

/* Add some basic styling for the toast container */
#toaster-container {
    position: fixed;
    top: 36px;
    right: 36px;
    background: #bd362f;
    border-radius: 5px;
    padding: 8px 16px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 0 12px #999;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

#toaster-container h2{
    font-size: 1rem;
}
#toaster-container p{
    font-size: 0.8rem;
}
#toaster-container .toaster-icon{
    background-image: url(./assets/close.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    font-size: 1rem;
    color: #666;
}

.card-link {
    display: block;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card-link:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 768px) {
    .inline-input-btn input {
        min-width: auto;
        max-width: 90%;
        outline: none;
    }

    .ip-info {
        flex-direction: column;
        gap: 16px;
    }
}